name: Verify translations

on:
  push:
    branches-ignore:
      - 'crowdin-auto-fetch/*' #this will be run on pull_request anyway
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.30.0
        with:
          php-version: 8.3

      - name: Verify translations
        run: php .github/workflows/verify-translations.php ${{ github.workspace }}/resources/translations
